<?xml version="1.0"?>
<robot name="omy_f3m" xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:arg name="prefix" default="" />
  <xacro:arg name="use_sim" default="false" />
  <xacro:arg name="use_fake_hardware" default="false" />
  <xacro:arg name="fake_sensor_commands" default="false" />

  <xacro:include filename="$(find rh_p12_rn_a_description)/urdf/rh_p12_rn_a.xacro" />

  <xacro:include filename="$(find rh_p12_rn_a_description)/gazebo/rh_p12_rn_a.gazebo.xacro" />

  <xacro:include filename="$(find rh_p12_rn_a_description)/ros2_control/rh_p12_rn_a.ros2_control.xacro" />

  <link name="world"/>

  <joint name="$(arg prefix)world_fixed" type="fixed">
    <parent link="world"/>
    <child link="$(arg prefix)rh_p12_rn_base"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>

  <xacro:rh_p12_rn_a prefix="$(arg prefix)" />
  <xacro:rh_p12_rn_a_gazebo prefix="$(arg prefix)" />

  <xacro:rh_p12_rn_a_system
    name="RH-P12-RN-A-System" prefix="$(arg prefix)" use_sim="$(arg use_sim)"
    use_fake_hardware="$(arg use_fake_hardware)"
    fake_sensor_commands="$(arg fake_sensor_commands)"/>

  <gazebo>
    <plugin filename="gz_ros2_control-system" name="gz_ros2_control::GazeboSimROS2ControlPlugin">
      <parameters>$(find rh_p12_rn_a_bringup)/config/hardware_controller_manager.yaml</parameters>
    </plugin>
  </gazebo>

</robot>
